<form name="input" action="specialAward" method="post">
username:<input type="text" name="username" />
taskNo:<input type="text" name="taskNo" />
gain:<input type="text" name="gain" />
password:<input type="text" name="password" />
<input type="submit" value="Submit" />
</form>
