<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!--[if lt IE 9]><script src="/commons/static/js/html5shiv/html5shiv.js"></script><![endif]-->

	<title>查看源码 · 拯救小扎</title>

	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/taski/style.css">

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

	<script type="application/json" id="result-data">
		<%- result  %>
	</script>
	<!--google analytics-->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-39259121-1']);
		_gaq.push(['_trackPageview']);
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script type="text/javascript">var mc2 = {};//全局名字空间</script>
</head>
<body>
	
<div class="work" style="right:0px;">
	<div class="work-tabs">
		<ul class="work-tabs-wrap nav-tabs">
		  <li class="hide"><a href="#"><i class="icon-plus"></i></a></li>
		</ul>
	</div>
	<div class="work-editarea">
		<div id="editarea" class="editarea"></div>
	</div>
</div>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/view_source/editor.js"></script>
</body>
</html>
